<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <div *ngIf="errorMsg == true" style="z-index: 999; position:fixed; top: 30%; left: 30%">
          <div (click)="closeMsg('error')" class="alert alert-danger">
            <strong>Failed!</strong>
          </div>
            </div>
          <div *ngIf="successMsg == true" style="z-index: 999; position:fixed; top: 30%; left: 30%">
          <div (click)="closeMsg('success')" class="alert alert-success">
            <strong>Success!</strong>
          </div>
            </div>
      <form [formGroup]="form" novalidate (ngSubmit)="save(form.value, form.valid)" class="form-horizontal">
        <fieldset>
          <div id="legend">
            <legend class="">Sign-Up</legend>
          </div>

          <div class="control-group">
            <label class="control-label"  for="firstName">First Name</label>
            <div class="controls">
              <input type="text" id="firstName" name="firstName" placeholder="" class="form-control" required formControlName="firstName">
              <div class="alert alert-danger col-md-4" [hidden]="form.controls.firstName.valid || (form.controls.firstName.pristine && !submitted)">
                <div [hidden]="!firstName.hasError('required')"> First name is required </div>
            </div>
          </div>
            </div>

            <div class="control-group">
              <label class="control-label" for="lastName">Last Name</label>
              <div class="controls">
                <input type="text" id="lastName" name="lastName" placeholder="" class="form-control" required formControlName="lastName">
                <div class="alert alert-danger col-md-4" [hidden]="form.controls.lastName.valid || (form.controls.lastName.pristine && !submitted)">
                  <div [hidden]="!lastName.hasError('required')"> Last name is required </div>
                </div>
              </div>
              </div>

          <div class="control-group">
            <!-- Username -->
            <label class="control-label"  for="userName">Username</label>
            <div class="controls">
              <input type="text" id="userName" name="userName" placeholder="" class="form-control" required formControlName="userName">
              <div class="alert alert-danger col-md-4" [hidden]="form.controls.userName.valid || (form.controls.userName.pristine && !submitted)">
                <div [hidden]="!userName.hasError('minlength')"> Name is required (minimum 5 characters).</div>
                <div [hidden]="!userName.hasError('required')"> Username is required </div>
                <div [hidden]="!userName.hasError('userNameValid')"> Username is already taken </div>
              </div>
              <p class="help-block">Username can contain any letters or numbers, without spaces</p>
            </div>
          </div>

          <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">E-mail</label>
            <div class="controls">
              <input type="text" id="email" name="email" placeholder="" class="form-control" required formControlName="email" [email]="true">
              <p class="help-block">Please provide your E-mail</p>
              <div class="alert alert-danger col-md-4" [hidden]="form.controls.email.valid || (form.controls.email.pristine && !submitted)">
                <div [hidden]="!email.hasError('email')"> Must be in email format</div>
                <div [hidden]="!email.hasError('required')"> Username is required </div>
              </div>
            </div>
          </div>

          <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Password</label>
            <div class="controls">
              <input type="password" id="password" name="password" placeholder="" class="form-control" required formControlName="password">
              <div class="alert alert-danger col-md-4" [hidden]="form.controls.password.valid || (form.controls.password.pristine && !submitted)">
                <div [hidden]="!password.hasError('minlength')"> Password must be at least 5 characters</div>
                <div [hidden]="!password.hasError('passwordValid')"> Must have at least one letter, one number, and one special character</div>
                <div [hidden]="!password.hasError('required')"> Password is required </div>
                </div>
            </div>
          </div>

          <div class="control-group">
            <!-- Password -->
            <label class="control-label"  for="password_confirm">Password (Confirm)</label>
            <div class="controls">
              <input type="password" id="password_confirm" name="password_confirm" placeholder="" class="form-control" required formControlName="password_confirm">
              <p class="help-block">Please confirm password</p>
              <div class="alert alert-danger col-md-4" [hidden]="form.controls.password_confirm.valid || (form.controls.password_confirm.pristine && !submitted)">
                <small>
                  Passwords don't match
                </small>
              </div>
            </div>
          </div>

          <div class="control-group">
            <!-- Button -->
            <div class="controls">
              <button class="btn btn-success" [disabled]="!form.valid">Register</button>
            </div>
          </div>
        </fieldset>
      </form>
          </div>
        </div>
      </div>
    </div>
  </div>
